@import "./components/colorswatch";
@import "./components/typography";
@import "./components/utils";
@import "./components/header";
@import "./components/lightbox";
@import "./components/registration-form/index";

::selection {
  background: var(--brand-blue);
  color: #fff;
}

body {
  max-width: 100%;
}

.two-column-width .fl-module-rich-text,
.two-column-width .fl-module-heading,
.two-column-width .two-column-width-image,
.two-column-width .fl-module-button {
  max-width: 600px;
  width: 100%;
  margin-left: 0;
}

.orange-overlay-fixed-width {
  @media (min-width: 1024px) {
    max-width: 800px;
    width: 100%;
  }
}
